html, body{
  font-family: verdana;
  color: white;
  width: 95%;
  height: 98%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
}

header{
  height: 250px;
  color: white;
  background-color: #446ffc;
  clear: left;
  text-align: center;
  border: 1px;
  border-style: solid;
}

footer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 48px;
  min-height: 190px;
  max-height: 98%;
}

p {
  max-width: 65%;
  min-width: 500px;
}

h2 {
  font-size: 25px;
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

video {
  background-color: #000000;
  border: 2px solid black;
}

text{
  margin: 20px;
}

.container {
  display: flex;
  border: 1px;
  border-style: solid;
}

.main {
  min-width: 75%;
  border: 1px;
  border-style: solid;
}

.nav {
  background-color: #446ffc;
  width: 240px;
  flex: 1;
  padding: 10px;
  color: white;
  font-size: 20px;
  max-height: 450px;

}

.nav h1 {
  padding-left: 20px;
}


